<h3>Feature: {{model.name}}</h3>

<table class="feature-table">
  <tr>
    <td>Length:</td>
    <td>{{model.length}}</td>
  </tr>
  <tr>
    <td>Pattern:</td>
    <td>{{model.pattern.bases}}</td>
  </tr>
</table>

{{link-to "Back" "molecule"}}
