.plasmid-map {
  margin: 0 auto;
}

.cds.forward {
  fill: green;
}
.cds.backward {
  fill: red;
}
.cds:hover, .cds.highlight {
  fill: yellow;
}

polyline {
  fill: none;
  stroke: black;
}

.feature-row:hover, .feature-row.highlight {
  background-color: yellow;
}