<h3>Molecules</h3>

<table>
  <tr>
    <th>Name</th>
  </tr>
  {{#each molecule in model}}
    <tr>
      <td>{{link-to molecule.name "molecule" molecule}}</td>
    </tr>
  {{/each}}
</table>

{{link-to "Back" "application"}}
